<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de chamados</title>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/info', { },
    function(data) { }); return false; }); }); </script>  -->
</head>
<body>
    <div class="container">
        <h2>Cadastro de chamados</h2>
        <form action="/info" method="post">
            <div class="input-field">
                <input type="text" id="nome" placeholder="Chamado">
                <label for="nome">Chamado:</label>
            </div>

            <div class="input-field">
                <input type="text" id="senha" placeholder="Tipo">
                <label for="senha">Tipo:</label>
            </div>

            <div class="input-field">
                <input type="text" id="senha" placeholder="Quantidade">
                <label for="senha">Quantidade:</label>
            </div>

            <div class="input-field">
                <input type="text" id="senha" placeholder="Filial">
                <label for="senha">Filial:</label>
            </div>

            <div class="input-field">
                <input type="text" id="senha" placeholder="Solicitante">
                <label for="senha">Solicitante:</label>
            </div>

            
            <div class="input-field">
                <input type="text" id="senha" placeholder="Status">
                <label for="senha">Status:</label>
            </div>

            <div class="input-field">
                <input type="text" id="senha" placeholder="Observacao">
                <label for="senha">Observação:</label>
            </div>
            
            <div class="center">
                <!-- <a href="info.html"><p>Cadastrar</p></a>  -->

                <button>Cadastrar</button>  
            </div>
        </form>
    </div>
</body>
</html>